@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
.u-section-1 {
    background-image: none;
    min-height: 700px;
  }
  
  .u-section-1 .u-image-1 {
    height: 203px;
    margin-top: 0;
    margin-bottom: 0;
    filter: brightness(0.35);
    object-position: 50% 81.68%;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    margin: -79px calc(((100% - 1140px) / 2) + 673px) 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-1 .u-form-1 {
    width: 611px;
    height: 68px;
    margin-top: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 310px);
    margin-bottom: 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
  }
  
  .u-section-1 .u-list-1 {
    grid-template-rows: auto;
    width: 1140px;
    margin: 39px auto 60px;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    grid-gap: 30px 30px;
    min-height: 611px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-image: none;
    animation-duration: 1000ms;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 96px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
  }
  
  .u-section-1 .u-gallery-1 {
    height: 202px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-1 .u-carousel-item-1 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-item-2 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-control-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-carousel-control-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-group-2 {
    min-height: 267px;
    width: 360px;
    margin: 23px auto 0;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 30px 0;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-4 {
    width: 223px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-image: none;
    font-weight: 700;
    letter-spacing: 1px;
    height: 42px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-list-item-2 {
    background-size: auto;
    animation-duration: 1000ms;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-group-3 {
    min-height: 96px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-5 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
  }
  
  .u-section-1 .u-gallery-2 {
    height: 202px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-carousel-indicators-2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-1 .u-carousel-item-3 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-3 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-item-4 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-4 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-control-3 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-carousel-control-4 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-group-4 {
    min-height: 267px;
    background-size: auto;
    width: 360px;
    margin: 23px auto 0;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 30px 30px 0;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-7 {
    width: 223px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-image: none;
    font-weight: 700;
    letter-spacing: 1px;
    height: 42px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-list-item-3 {
    background-size: auto;
    animation-duration: 1000ms;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-group-5 {
    min-height: 96px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-8 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
  }
  
  .u-section-1 .u-gallery-3 {
    height: 202px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-carousel-indicators-3 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-1 .u-carousel-item-5 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-5 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-item-6 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-6 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-control-5 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-carousel-control-6 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-group-6 {
    min-height: 267px;
    background-size: auto;
    width: 360px;
    margin: 23px auto 0;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding: 30px 30px 0;
  }
  
  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-10 {
    font-size: 1rem;
    width: 223px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-btn-4 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-image: none;
    font-weight: 700;
    letter-spacing: 1px;
    height: 42px;
    margin: 20px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      width: 262px;
      margin-right: calc(((100% - 940px) / 2) + 757px);
      margin-left: calc(((100% - 940px) / 2) + 18px);
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 82px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-btn-1 {
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
    }
  
    .u-section-1 .u-list-1 {
      width: 940px;
      margin-top: 46px;
      margin-left: calc(((100% - 1140px) / 2) + 100px);
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 542px;
    }
  
    .u-section-1 .u-group-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-group-3 {
      background-size: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-group-4 {
      margin-top: 20px;
    }
  
    .u-section-1 .u-group-5 {
      background-size: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-8 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-group-6 {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 720px) / 2) + 580px);
      margin-left: calc(((100% - 720px) / 2) + 18px);
    }
  
    .u-section-1 .u-form-1 {
      height: 66px;
      margin-top: 96px;
    }
  
    .u-section-1 .u-list-1 {
      width: 720px;
      margin-top: 22px;
      margin-left: auto;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      min-height: 1309px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 540px) / 2) + 435px);
      margin-left: calc(((100% - 540px) / 2) + 18px);
    }
  
    .u-section-1 .u-form-1 {
      width: 540px;
      height: 129px;
      margin-top: 87px;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
      margin-top: 20px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 2329px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1.25rem;
      width: 289px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-7 {
      width: auto;
      font-size: 1.25rem;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-10 {
      font-size: 1.25rem;
      width: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 340px) / 2) + 274px);
      margin-left: calc(((100% - 340px) / 2) + 18px);
    }
  
    .u-section-1 .u-form-1 {
      width: 340px;
      height: 111px;
      margin-top: 93px;
    }
  
    .u-section-1 .u-list-1 {
      width: 340px;
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 2011px;
    }
  
    .u-section-1 .u-group-2 {
      width: 340px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 79px;
    }
  
    .u-section-1 .u-group-4 {
      width: 340px;
    }
  
    .u-section-1 .u-text-7 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-3 {
      margin-left: 79px;
    }
  
    .u-section-1 .u-group-6 {
      width: 340px;
    }
  
    .u-section-1 .u-text-10 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-4 {
      margin-left: 79px;
    }
  }.u-section-2 {
    background-image: none;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 35px 0 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-line-1 {
    width: 120px;
    height: 10px;
    margin: 30px auto 0 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 20px 0 35px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 261px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-2 .u-text-4 {
    margin: 60px 0 0;
  }
  
  .u-section-2 .u-social-icons-1 {
    white-space: nowrap;
    height: 26px;
    min-height: 16px;
    width: 135px;
    min-width: 94px;
    margin: 30px auto 35px 0;
  }
  
  .u-section-2 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-2 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-2 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-2 .u-icon-4 {
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 261px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .u-section-2 .u-text-2 {
      position: relative;
    }
  
    .u-section-2 .u-line-1 {
      width: 99px;
    }
  
    .u-section-2 .u-text-3 {
      position: relative;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .u-section-2 .u-social-icons-1 {
      position: relative;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-line-1 {
      width: 76px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: auto;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: auto;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .u-section-2 .u-line-1 {
      width: 71px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: auto;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .u-section-2 .u-line-1 {
      width: 60px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 6px;
      padding-right: 6px;
    }
  }